html,body{
	margin:0;
	padding: 0;
	height:auto;
	width: 100vw;
	background: #EEEEEE;
	
	
}
h1{font-size: 2em;
	
}
p{
	font-size: 12pt;
	font-family: Arial,Helvetica;
	margin-left: 10vw;
	margin-right: 15vw;

}
h3{
	font-style: italic;
}
#cabecera {
    height: 70px;
    width: 100vw;
    text-align: center;
    border: 2px solid black;
    margin-top: 0px;
    z-index: 2;
    background: #03b282;
    color: black;
    font-size: 3em;
}
#fondo{
	top: 0px;
	padding:0;
	margin-left: 4vw;
	margin-right:5vw;
	 }
#banda1{
	;
	position: absolute;
	left:0px;
	top:11vh;
	bottom: 0px;
	width:12vw;
	height:auto;
	z-index: 2;
	border: 2px solid black;
}
#contenido{
	margin-left: 10vw;
	margin-right:10vw; 
	
	text-align: justify;
	
	
	top:11vh;
	z-index: 0;
	border-top: 2px solid black;
	
	
	

}
#imagen1{
	background: url("../imagenes/imagen1.jpg");
	height: 250px;
	width: 400px;
	background-size: cover;
	border-radius: 25px;
	margin-left: 18vw;
}
#imagen2{
	background: url("../imagenes/imagen2.jpg");
	height: 250px;
	width: 400px;
	background-size: cover;
	border-radius: 25px;
	margin-left: 18vw;
}
.textobajoimagen1{
	font-size:11px;
	margin-left:16vw;
}
.textobajoimagen2{
	font-size:11px;
	margin-left:17vw;
}
iframe{
	margin-left:6vw;
}