html,
body {
    width: 400vw;
 
  margin: 0;
  padding: 0;
	scroll-behavior:smooth;

}
body{
	overflow-x:hidden;
  -webkit-scroll-snap-type: mandatory;
-webkit-scroll-snap-points-x: repeat(100vw);

}

h1 {
    font-size: 4em;
    text-align: center;
}

.fondo {
    
    background-size: cover;
    background-color: orange;
    width: 400vw;
    
    margin-top: 0vw;
    z-index: -1;
    
}
.contenedor1{
    width:100vw;
    height:auto;
background-color: red;
background-size: cover; 
overflow-y:scroll;
overflow-y:hidden;
}
.contenedor2{
    width:100vw;
    height:auto;
background-color: orange;
overflow-y:scroll;
background-size: cover;
}
.contenedor3{
    width:100vw;
    height:auto;
background-color: red;
overflow-y:scroll;
background-size: cover;
}
.contenedor4{
width:100vw;
    height:auto;
background-color: orange;
overflow-y:scroll;
background-size: cover;
}
.fondo div{
  	
 	
scroll-snap-type: mandatory;
scroll-snap-points-x: repeat(100vw);

}

.contenido {
    margin-top: 70px;
    text-align: justify;
    z-index: 0;

}

.sombreado {
    box-shadow: 0 0 5px 5px;

}



#fundacion {
    width: 85vw; 
    
    margin-left:5vw;
    margin-right: 10vw;
    position: absolute;
     
    
}

#crece {
    width: 85vw; 
    
    margin-left:105vw;
    margin-right: 10vw;
    position: absolute;

}

#europa {
    width: 85vw;
    
    margin-left:205vw;
    margin-right: 10vw;
    position: absolute;
     
}

#ab{
	width: 85vw;
     
    margin-left:305vw;
    margin-right: 10vw;
    position: absolute;
     

}
#boton1 {
    background: black;
    position: absolute;
    color: #dc4f00;
    height: 10vh;
    width: 33vw;
    margin-top: 0px;
    margin-left: 0;
    text-align: center;
    padding-top: 2vh;
    font-size: 3em;
}

#boton2 {
    background: black;
    position: absolute;
    color: #dc4f00;
    height: 10vh;
    width: 33vw;
    margin-top: 0px;
    margin-left: 33vw;
    text-align: center;
    padding-top: 2vh;
    font-size: 3em;
}

#boton3 {
    background: black;
    position: absolute;
    color: #dc4f00;
    height: 10vh;
    width: 34vw;
    margin-bottom: 0px;
    margin-left: 66vw;
    text-align: center;
    padding-top: 2vh;
    font-size: 3em;
}
#boton4 {
    background: black;
    position: absolute;
    color: #dc4f00;
    height: 10vh;
    width: 33vw;
    margin-top: 0px;
    margin-left: 100vw;
    text-align: center;
    padding-top: 2vh;
    font-size: 3em;
}

#boton5 {
    background: black;
    position: absolute;
    color: #dc4f00;
    height: 10vh;
    width: 33vw;
    margin-top: 0px;
    margin-left: 133vw;
    text-align: center;
    padding-top: 2vh;
    font-size: 3em;
}

#boton6 {
    background: black;
    position: absolute;
    color: #dc4f00;
    height: 10vh;
    width: 34vw;
    margin-bottom: 0px;
    margin-left: 166vw;
    text-align: center;
    padding-top: 2vh;
    font-size: 3em;
}
#boton7 {
    background: black;
    position: absolute;
    color: #dc4f00;
    height: 10vh;
    width: 33vw;
    margin-top: 0px;
    margin-left: 200vw;
    text-align: center;
    padding-top: 2vh;
    font-size: 3em;
}

#boton8 {
    background: black;
    position: absolute;
    color: #dc4f00;
    height: 10vh;
    width: 33vw;
    margin-top: 0px;
    margin-left: 233vw;
    text-align: center;
    padding-top: 2vh;
    font-size: 3em;
}

#boton9 {
    background: black;
    position: absolute;
    color: #dc4f00;
    height: 10vh;
    width: 34vw;
    margin-bottom: 0px;
    margin-left: 266vw;
    text-align: center;
    padding-top: 2vh;
    font-size: 3em;
}
#boton10 {
    background: black;
    position: absolute;
    color: #dc4f00;
    height: 10vh;
    width: 33vw;
    margin-top: 0px;
    margin-left: 300vw;
    text-align: center;
    padding-top: 2vh;
    font-size: 3em;
}

#boton11 {
    background: black;
    position: absolute;
    color: #dc4f00;
    height: 10vh;
    width: 33vw;
    margin-top: 0px;
    margin-left: 333vw;
    text-align: center;
    padding-top: 2vh;
    font-size: 3em;
}

#boton12 {
    background: black;
    position: absolute;
    color: #dc4f00;
    height: 10vh;
    width: 34vw;
    margin-bottom: 0px;
    margin-left: 366vw;
    text-align: center;
    padding-top: 2vh;
    font-size: 3em;
}

#a1{}
a:hover {
    background: #2a2a2a;

}